<div class="main">
   
    <!-- <app-navbar></app-navbar> -->

    <button routerLink="" class="menu-item">home</button>
  <button routerLink="/sa" class="menu-item">users</button>
  <button class="menu-item" >analytics</button>

<div class="table-container">
    <h2>Events</h2>
    <table class="users-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Date</th>
          <th>Time</th>
          <th>Type</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.title }}</td>
          <td><img style="height: 50px;width: 50px;" [src]="event.image" alt="{{ event.title }}" /></td>
          <td>date</td>
          <td>time</td>
          <td>type</td>
          <td>{{ event.price }}</td>
          <td>
            <button class="approve-btn" (click)="approveEvent(event.id)">
              Approve
            </button>
            <button class="disapprove-btn" (click)="disapproveEvent(event.id)">
              Disapprove
            </button>
            <button class="notify-btn" (click)="notifyEvent(event.id)">
              Notify
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

</div>