.carousel-container {
  position: relative;
  width: 82%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90vh;
  /* background-color: #100d1e; */
  margin-left: 18vw;
}

.carousel-item {
  position: absolute;
  transition: transform 1.5s ease, opacity 1.5s ease, z-index 0.5s, height 1.5s ease;
  width: 300px; /* Adjust as needed */
  height: 100%;
  display: flex;
  align-items: center;
  color: aliceblue;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
  display: none; /* Hide the original image element */
}

.carousel-item .event-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  border-radius: 3px;
}

.carousel-item .event-details {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.carousel-item .event-details h3 {
  font-family: 'Arial Black', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.carousel-item .event-details p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.carousel-item.current {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
  height: 70%;
  width: 30vw;
 
}

.carousel-item.previous,
.carousel-item.next {
  opacity: 0.2;
  margin-bottom: 43vh;
  z-index: 0;
  
  height: 50%; /* Reduce the height of the blurred events */
}

.carousel-item.previous {
  transform: translateX(-100%) translateY(66%);
}

.carousel-item.next {
  transform: translateX(100%) translateY(66%);
}

.carousel-item.previous.hidden,
.carousel-item.next.hidden {
  visibility: hidden;
}
