.main {
  padding: 20px;
  height: 100vh;
  background-color: #100d1e;
}

.nav {
  margin-bottom: 20px;
}

.menu-item {
  background-color: #100d1e;
  color: #ffde00;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 5px 9px rgba(16, 13, 30, 0.9), 0 6px 20px rgba(16, 13, 30, 0.19);
  transition: transform 0.2s, box-shadow 0.2s;
}

.menu-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(255, 222, 0, 0.2), 0 6px 20px rgba(255, 222, 0, 0.19);
}

.table-container {
  margin-top: 5vh;
  margin-bottom: 3vh;
  color: gray;
  width: 80%;
  margin-left: 10%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #1b1730;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  text-align: center;
  color: aliceblue;
}

.users-table {
  width: 100%;
}

.users-table th,
.users-table td {
  padding: 8px;
  text-align: left;
}

.users-table th {
  color: #ffde00;
}

.users-table tbody tr {
  background-color: #1b1730;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-table tbody tr:hover {
  background-color: #302c4e;
}

.users-table button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.users-table button.delete-btn {
  color: #ff0000;
  padding: 5px 10px;
  border-radius: 5px;
}

.users-table button.notify-btn {
  color: #0066ff;
  padding: 5px 10px;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button.confirm-btn {
  background-color: #ff0000;
}

.modal-buttons button.cancel-btn {
  background-color: #0066ff;
}

.permissions-dropdown {
  display: flex;
  align-items: center;
}

.permissions-dropdown label {
  margin-right: 10px;
}

.permissions-dropdown input[type="checkbox"] {
  margin-right: 5px;
}
