.event-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .event-detail-container img {
    width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  .event-details {
    margin-top: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  .form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for blur effect */
    backdrop-filter: blur(5px); /* Blur the background */
  }
  
  .form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow for the form */
    z-index: 1100;
  }
  
  .confirmation-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow for the confirmation message */
    z-index: 1100;
  }
  
  