<div class="main">
    <div class="sidebar">
        <div class="branding">
          <div class="logo">
            <div class="circle">H</div>
            <div class="text">
              <div class="main-text">HIWOW</div>
              <div class="sub-text">e l e v a t e</div>
            </div>
          </div>
        </div>
        <div  class="menu">
            <button   routerLink="" class="menu-item">
                <i class="fas fa-home"></i> Home
              </button>

              <button routerLink="/user" class="menu-item">
                <i class="fas fa-calendar-alt"></i> Events
                </button>

          <button class="menu-item">
            <i class="fas fa-calendar-alt"></i> Calendar
          </button>
          <button routerLink="/book" class="menu-item">
            <i class="fas fa-book"></i> Bookings
          </button>
          <button class="menu-item">
            <i RouterLink="" class="fas fa-sign-out-alt"></i> Logout
          </button>
        </div>
      </div>
      
</div>